@model MvcWebsite.Models.BoardColorSelectorViewModel

@{
    ViewData["Title"] = "new board";
}

<div class="container justify-content-center">

    <div class="row mb-3 justify-content-center border-bottom">
        <div class="col-auto mb-2">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-md-4">
            @using (Html.BeginForm())
            {
                <fieldset>
                    @Html.HiddenFor(model => model.NewBoard.Id)
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.NewBoard.Title)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.NewBoard.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewBoard.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.NewBoard.Text)
                        </div>
                        <div class="editor-field">
                            @Html.TextAreaFor(model => model.NewBoard.Text, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewBoard.Text, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.NewBoard.Tags)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.NewBoard.Tags, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewBoard.Tags, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            @Html.LabelFor(model => model.NewBoard.BoardColor)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("NewBoard.BoardColor", (SelectList)Model.BoardColors, new { @class = "form-control custom-select" })
                            @Html.ValidationMessageFor(model => model.NewBoard.BoardColor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <p>
                            <input type="submit" value="create" class="btn btn-dark btn-block" />
                            <button class="btn btn-light btn-block" asp-action="Index"><img class="small-image" src="/images/to_boards.png" alt="">&nbsp;boards</button>
                        </p>
                    </div>
                </fieldset>
            }
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}