@model MvcWebsite.Models.Board

@{
    ViewData["Title"] = "details";
    var board = (Board)ViewData["board"];
}

@section Scripts {
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
    }
}

<div class="container-fluid justify-content-center">

    <div class="row">
        <p><small>@board.CreatedAt</small></p>
    </div>
    <div class="row mb-1 justify-content-center">
        <div class="col-8 mb-2 justify-content-center bg-@board.BoardColor">
            <h3>@board.Title</h3>
        </div>
    </div>
    <div class="row mb-3 border-bottom">
        <p><small>@board.Tags</small></p>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="btn-group border-bottom">
            <a asp-action="Edit" asp-route-id="@board.Id" class="btn btn-sm btn-dark">edit</a>
            <a class="btn btn-light btn-block" asp-action="Index"><img class="small-image" src="/images/to_boards.png" alt="">&nbsp;boards</a>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-8">
            @board.Text
        </div>
    </div>

    <div id="container-stikies" class="row d-flex justify-content-center">
    </div>

    <div class="row mb-3 justify-content-center border-bottom"></div>

    <div class="row m-3 justify-content-center">
        <div class="col-2">
            <div class="list-group list-group-flush" id="stikyTabs" role="tablist">
                <a class="list-group-item list-group-item-action active" id="text-tab" href="#text" role="tab" aria-controls="text"
                   aria-selected="true" data-toggle="list">Stiky Text</a>
                <a class="list-group-item list-group-item-action" id="list-tab" href="#list" role="tab" aria-controls="list"
                   aria-selected="false" data-toggle="list">Stiky List</a>
                <a class="list-group-item list-group-item-action" id="image-tab" href="#image" role="tab" aria-controls="image"
                   aria-selected="false" data-toggle="list">Stiky Pic</a>
            </div>
        </div>
        <div class="col-6">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="text" role="tabpanel" aria-labelledby="text-tab">
                    <label for="newStiky" class="sr-only">New Stiky note</label>
                    <textarea name="newStiky" class="form-control mb-2" id="newStiky" placeholder="New stiky note" rows="4" maxlength="999"></textarea>

                    <button data-boardid="@board.Id" class="btn btn-sm btn-light float-right" id="btnAddStikyText">pin down</button>
                    <p id="wordCounter" class="float-left">999</p>
                </div>
                <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <input type="text" class="form-control" id="newStikyList" placeholder="new list item..">
                    </div>
                </div>
                <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
                    @*@Html.ValidationSummary();*@

                    @* input box and label and warning span *@
                    <input type='file' class="custom-file-input" id="newStikyPic" name="newStikyPic" />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <span class="text-danger" id="spanfile"></span>

                    @* img preview before upload *@
                    <img class="med-image" src="\images\empty_pic.png" alt="UploadedImage" id="newStikyPicPreview" />

                    @* upload button *@
                    <button data-boardid="@board.Id" class="btn btn-sm btn-dark" id="btnUploadStikyPic">pin down</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="btn-group border-bottom">
            <a asp-action="Edit" asp-route-id="@board.Id" class="btn btn-sm btn-dark">edit</a>
            <a class="btn btn-light btn-block" asp-action="Index"><img class="small-image" src="/images/to_boards.png" alt="">&nbsp;boards</a>
        </div>
    </div>

</div>

<script src="~/js/scripts.js" asp-append-version="true"></script>
<script>
    updateStikies(@board.Id);
</script>
